html, body {
    height: 100%;
}
body {
    color: black;
	padding-top: 65px;
}
h1,h2,h3,h4,h5 {
	font-family: 'Oswald', sans-serif;
    color: black;
}
h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 0.1em;
}
p {
	line-height: 160%;
}
.navbar {
    background-color: black;
}

.navbar-nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 56px;
}
.navbar-nav a:hover {
    text-decoration: underline;
}

.navbar .navbar-brand :hover {
    text-decoration: none;
    color: white;
}
.navbar-toggler{
    color: white;
    float: right;
    margin-top: 13px;
    border: 1px solid white;
    border-radius: 0;
}
#welcome-container {
	/* background overlay */
    background: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url('../img/welcome-image.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
#welcome-caption {
    font-size: 1.4em;
    font-weight: 200;
    max-width: 60em;
    margin: 0 auto;
    text-align: center;
    left: 30px;
}
#welcome-caption h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.hide {
	opacity: 0;
}
.container {
	padding-top: 20px;
}
.about-content, .skills-content, .project-content {
    padding: 4em 0;
    overflow: hidden;
}
.section-title {
    padding-bottom: 10px;
    font-weight: 600;
	border-bottom: 2px solid black;
}
#projects-title, #skills-title, #about-title {
	margin-left: 15px;
}
#skill-logos {
    width: 80%;
}
#chart-left {
    width: 50%;
    padding-left: 0;
}
#chart-left li {
    border-bottom: 1px solid black;
}
.skills {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.3em;
    color: black;
}
#chart-right {
    background-color: black;
    width: 50%;
}
.bars {
    list-style-type: none;
    margin-bottom: 0;
    padding: 2px 0;
}

.bars li {
    background-color: white;
    width: 100%;
    margin: 6px 1px;
    padding: 3px;
    height: 25px;
}
.beginner {
    position: absolute;
    left: 250px;
    top: 30px;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
}
.bar div {
    width: 0;
    background-color: black;
    height: 10px;
    padding: 10px 0;
    
}
.project-name {
	 line-height: 150%;
}
.img-thumbnail {
	margin: 25px 15px 0 15px;
	width: 40%;
}
a[data-lightbox]:hover {
	text-decoration: none;
}
.caption {
	color: #333;
	padding-top: 10px;
}
footer {
	background-color: black;
	padding: 30px 0;
	
}
footer {
	color: white;
}
#footer a:link, #footer a:visited {
	color: white;
	text-decoration: underline;
}
.fa {
	padding-right: 8px;
}

/* media queries */
@media (min-width: 375px) and (max-width: 767px) {
	#welcome-container {
		height: 35%;
	}
	#name {
		font-size: 1.8em
	}
	#title {
		font-size: 1.6em;
	}
	.section-title {
		text-align: center;
	}
	#chart-right {
		display: none;
	}
	#chart-left {
		width: 100%;
		text-align: center;
	}
	#chart-left li {
		border-bottom: none;
		display: inline-block;
		padding: 0 15px 0 15px;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		margin: 5px 0;
	}
	.img-thumbnail {
		width: 72%;
		text-align: center;
	}
	.thumbnails {
		text-align: center;
	}
	.project-name {
		font-size: 2em;
	}
	footer {
		padding: 15px 0;
		line-height: 1.7em;
	}
	footer .container {
		padding-top: 0px;
	}
}

@media (min-width: 768px) and (max-width: 1096px) {
	#welcome-container {
		height: 50%;
	}
	#name {
		font-size: 3em;
	}
	#title {
		font-size: 2.7em;
	}
	.section-title {
		text-align: center;
	}
	.project-name {
		font-size: 2em;
	}
	footer {
		padding: 15px 0;
		line-height: 1.7em;
	}
}